In [7]:
# install my example package
!pip install --index-url https://test.pypi.org/simple/ lambdata_ewuerfel66==0.0.6

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata_ewuerfel66==0.0.6
  Downloading https://test-files.pythonhosted.org/packages/5d/9e/b4fc3f436803af05d9bcc6c73057d23c8e9294a93b651ac8e3d86dd54a67/lambdata_ewuerfel66-0.0.6-py3-none-any.whl
Installing collected packages: lambdata-ewuerfel66
  Found existing installation: lambdata-ewuerfel66 0.0.5
    Uninstalling lambdata-ewuerfel66-0.0.5:
      Successfully uninstalled lambdata-ewuerfel66-0.0.5
Successfully installed lambdata-ewuerfel66-0.0.6

In [27]:
# import my package
import lambdata

In [28]:
dir(lambdata)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'add_column',
 'check_null',
 'name']

In [29]:
import numpy as np
import pandas as pd

In [30]:
# make a test dataframe
df = pd.DataFrame([[np.nan, 3, 5],
                   [4, np.nan, np.nan],
                   [np.nan, np.nan, np.nan]])

df.head()

     0    1    2
0  NaN  3.0  5.0
1  4.0  NaN  NaN
2  NaN  NaN  NaN

In [31]:
# test the check_null function
lambdata.check_null(df)

Total Null Values: 6

In [32]:
# Create a test list
fake_list = [4] * len(df[0])

# Test the add_column function
lambdata.add_column('fake', fake_list, df)

In [33]:
df.head()

     0    1    2  fake
0  NaN  3.0  5.0     4
1  4.0  NaN  NaN     4
2  NaN  NaN  NaN     4